name: Upload to itch.io
on: 
  workflow_run:
    workflows: ["Build project"]
    types: [completed]
jobs:
  itchio-upload:
    runs-on: ubuntu-latest
    steps:
      # Download the WebGL build artifact
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: Build-WebGL       # must match upload artifact name
          path: build/WebGL 

      #Setup Butler
      - name: Setup butler
        uses: remarkablegames/setup-butler@v2

      # https://itch.io/docs/butler/pushing.html
      - name: Upload to itch.io
        run: butler push build/WebGL intecial/wonderful-mixing-extravaganza:win
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
